.company-name {
  color: #1c1c1c;
  font-family: Ubuntu;
  font-size: 1.2rem;
  font-weight: 800;
  text-decoration: underline;
}

.description {
  color: #1c1c1c;
}
.position {
  color: #1c1c1c;
}
